<ion-header>
  <ion-toolbar>
    <ion-title>camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="!cropping">
    <ion-card-header>Final Result</ion-card-header>
    <ion-img src="{{myPicture}}"></ion-img>
  </ion-card>

  <ion-button *ngIf="myPicture != null && !cropping" (click)="cropPicture()">
    Crop
  </ion-button>

  <div *ngIf="cropping">
    <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="myPicture" ></angular-cropper>

    <ion-row>
      <ion-col col-4>
        <button ion-button outline icon-left color="primary" (click)="reset()">
          <ion-icon name="add"></ion-icon> Reset
        </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button outline icon-left color="primary" (click)="zoom(true)">
          <ion-icon name="add"></ion-icon> Zoom
        </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button outline icon-left color="primary" (click)="zoom(false)">
          <ion-icon name="remove"></ion-icon> Zoom
        </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button outline icon-left (click)="rotate()">
          <ion-icon name="refresh"></ion-icon> 90 deg
        </button>
      </ion-col>

      <ion-col col-2>
        <button ion-button clear (click)="scaleX()">
          Flip X
        </button>
      </ion-col>

      <ion-col col-2>
        <button ion-button clear (click)="scaleY()">
          Flip Y
        </button>
      </ion-col>

      <ion-col col-2>
        <button ion-button clear icon-only (click)="move(0, -10)">
          <ion-icon name="arrow-round-up"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-2>
        <button ion-button clear icon-only (click)="move(0, 10)">
          <ion-icon name="arrow-round-down"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-2>
        <button ion-button clear icon-only (click)="move(-10, 0)">
          <ion-icon name="arrow-round-back"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-2>
        <button ion-button clear icon-only (click)="move(10, 0)">
          <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="capturePicture()">
    <ion-icon name="camera"></ion-icon>
  </ion-button>
</ion-footer>
